#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-sale-item {
  padding: 24px;
  background-color: maroon;
  color: white;
  border-radius: 8px;
  margin: 16px 0;
}

.top-sale-item p {
  margin: 0;
}
